.weather {
  border: 1px solid #ccc;
  width: 72px;
  min-height: 88px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Helvetica", arial, sans-serif;
  text-align: center;
}

.day {
  font-size: 21px;
  font-weight: bold;
  color: #8899a6;
}

.icon {
  margin: 12px;
  display: block;
  font-size: 28px;
}

.temp {
  margin-top: 12px;
  font-size: 1em;
  font-weight: 900;
  color: #8899a6;
}

.min {
  margin-left: 6px;
  font-weight: 300;
  color: #aab8c2;
}
