.weather {
  border: 1px solid #ccc;
  width: 68px;
  min-height: 88px;
  padding: 10px;
  display: block;
  font-family: "Helvetica", arial, sans-serif;
  text-align: center;
}

.day {
  font-size: 21px;
  font-weight: bold;
  color: #8899a6;
}

.icon {
  margin: 12px;
  display: block;
  font-size: 28px;
}

.temp {
  margin-top: 10px;
  font-size: 1em;
  color: #8899a6;
}

.min {
  color: #aab8c2;
  margin-left: 3px;
}
